---
#
# Ansible managed
#
language: python

python:
  - "3.8"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
    - image="centos" tag="7"
    - image="centos" tag="latest"
    - image="fedora" tag="31"
    - image="fedora" tag="latest"
    - image="ubuntu" tag="bionic"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "jZ3nsZcQPiY14FqlESd9qJS1E5rosZxQuZmdbHIg9X9qjCAMjylPy/cm2OttqcpC9hLweMJSAj4PidHDA1jdssMl9kJVo6/0PfEqTqF1sBt1zoLhBcblpJUDvXCngh8/9szMZDFLxONpf52Liorayss7SC61jSDqW7q0XyixTCzO1z9vzTVpz8iOW56ysegkW/WoWN2OeMbsZRydddj+Rc3XwVmdJvgUdRorZvVheCJHKfwJKbBvllZsPOYbNYU08NbQNRRxgOl5G+KMEEncbr0VJRvRHUETu8jXMYQLd67ABp94szO4zSLnl09LIl+BzbGuCKicgPYsSzjwM8E+rdK4zIElmWenZssT9S1kDiil3XYBvkJrhTyMWdtbaGd3N7yT29s15ID11JNbhWMpHXgj0r2gTNNOxhWzIl/Q9j9XtHNv5EYewwMT8eTcyoo1UT+sd9A9zOFLcxCv1JjYh0bYz8YZd1Nq05W7EbaL222X1nhPrePH5FP6Kd66ApVRjhNJEmfoBH4DWQsHORykWR/ehZ71FInSiF7oK/wMsz9yP0eMVI6ZnFtqKMr+OPp1cxgqYQwutbIrq0U00fGk1/Jp7F742jfEnBgYRvZkPuthNdjbAg+UQy0+EAoI7eF++ndKwTL1NSR1FqlLoDwQ0+95FcOYCIYxfkkw5gvicls="
  email: false
